@model SECU_CAMSPlus_DEV.Models.UserInfo.changePassword

@{
    ViewBag.Title = "Changed Password :: CAMSPlus";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangePassword</title>

</head>
<body>
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


    @if (TempData["PwdCriteria1"] != null)
    {
        <script>   
            $(document).ready(function () {
                $("#divinvalid").show(); 
            
            });
        </script>// this script to show failed alerts
    }

     @if (TempData["PasswordAlert"] != null)
    {
    <script>
        alert('@TempData["PasswordAlert"]');
      
    </script>
    }
    @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
    {                  
        
        <div class="col-md-4 col-md-offset-4 margin-top">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    Changed Password
                </div>
                <div class="panel-body">                                   

                    <div class="form-group">
                        <div class="input-icon right">
                            <i class="fa fa-user"></i>
                            @Html.LabelFor(model => model.LoginID1, new { @class = "control-label sr-only" })
                            @Html.TextBoxFor(model => model.LoginID1, new { @class = "form-control", @placeholder = "Login ID", @disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.LoginID1,null, new { @Class="valiation"})
                            @Html.HiddenFor(model => model.LoginID1)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-icon right">
                            <i class="fa fa-lock"></i>
                            @Html.LabelFor(model => model.OldPassword, new { @class = "control-label sr-only" })
                            @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control", @placeholder = "Old Password ",@oncopy= "return false", @onpaste="return false" })
                            @Html.ValidationMessageFor(model => model.OldPassword,null, new { @Class="valiation"})
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-icon right">
                            <i class="fa fa-lock"></i>
                            @Html.LabelFor(model => model.NewPassword, new { @class = "control-label sr-only" })
                            @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control round-input", @placeholder = "New Password",@oncopy= "return false",@onpaste="return false" })
                            @Html.ValidationMessageFor(model => model.NewPassword,null, new { @Class="valiation"})

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-icon right">
                            <i class="fa fa-lock"></i>
                            @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label sr-only" })
                            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" ,@oncopy= "return false", @onpaste="return false" })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword,null, new { @Class="valiation"})
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" id="btnChange" name="Command" value="ChangePassword" class="btn btn-success btn-md btn-block">Submit</button>
                    </div>
                    <div class="alert alert-danger" id="divinvalid" role="alert" style="display:none" align="Left">
                        @if (TempData["PwdCriteria1"] != null)
                        {      @TempData["PwdCriteria1"]
                        }
                    </div>
                </div>

            </div>
        </div>
         
    }
</body>
</html>
