@*@model SECU_CAMSPlus_DEV.Models.UserInfo.changePassword

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Change Password</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
        {
            <div>
                @Html.LabelFor(m => m.loginID, new { @class = "form-control" })
                @Html.TextBox("LoginID", "", new { @class = "form-control" })
            </div>
            <div>
                @Html.LabelFor(m => m.OldPassword, new { @class = "form-control" })
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
            <div>

                @Html.LabelFor(m => m.NewPassword, new { @class = "form-control" })
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
            <div>

                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
            <div>
                 <button type="submit" id="btnChange" name="Command" value="ChangePassword" class="btn btn-default">Submit</button>
            </div>
        }
    </div>
</body>
</html>*@
