@model IEnumerable<SECU_CAMSPlus_DEV.Models.Manufacturer>
@{
    ViewBag.Title = "Manufacturer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@if (TempData["Message"] != null)
{
<script >
    alert('@TempData["Message"]');
</script>
}*@
@if (TempData["Message"] != null)
{
    <script>
        alert('@TempData["Message"]');
        $('#btnCreate').click(function () {
            window.location.href = 'Create';
            return false;
        });
    </script>
}
@using (Html.BeginForm("Index", "Manufacturer", FormMethod.Get, new { @id = "ManufacturerMasterindex" }))
{
    var grid = new WebGrid(Model, canSort: true, rowsPerPage: 10);
    <div class="col-lg-12 animated fadeIn margin-top">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12 col-sm-7 col-md-7">
                        <h2>Manufacturer</h2>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="form-group">
                            <div class="input-group">
                                <i class="fa fa-search"></i>
                                <input type="text" name="filter" value="@ViewBag.filter" class="form-control" style="display: inline" placeholder="Search by Device or Company Name" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit" value="btnHolidaysearch">Go</button>
                                </span>
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-1 col-md-1" id="divnewadd">
                        <a class="btn btn-success btn-sm" id="btnCreate" data-modal="" href="Create"><i class="fa fa-plus"></i>&nbsp;Add
                        </a>
                        <a class="btn btn-success" id="hidebtnCreate" style="display:none" ><i class="fa fa-plus"></i>&nbsp;Add</a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
             <div class="panel-body">
                <div class="table-responsive">
                     <div class="pull-right">Total no. records found : @Model.Count()</div>  
                    @grid.GetHtml(tableStyle: "table table-hover table-striped", footerStyle: "tfoot dataTables_paginate", columns:
                grid.Columns
                (
       
                    grid.Column("DeviceTypeName", "Device"),
                    grid.Column("CompanyName", "Company Name"),

            grid.Column(header: "", canSort: false, style: "action",
                format: @<text>
                    @Html.Raw("<a name='Edit' data-modal='' data-toggle='tooltip' data-placement='right' data-original-title='Edit' class='glyphicon glyphicon-edit btn btn-success btn-xs' href='Edit/" + item.MfgID + "' id='" + item.MfgID + "'''></a>")
                    @Html.Raw("<a name='EditHide' data-toggle='tooltip' style='display:none' data-placement='right' data-original-title='Edit' class='glyphicon glyphicon-edit btn btn-success btn-xs'></a>")
                    </text>),

 grid.Column(header: "", format: (item) => Html.ActionLink(" ", "Delete", new { id = item.MfgID, title = "", },
                     new { onclick = "return confirm('Do you want to Delete this Manufacturer Details?');", @Name = "Delete", @class = "glyphicon glyphicon-trash btn btn-danger btn-xs" })),
                         
                         grid.Column(header: "", format: (item) => Html.ActionLink(" ", "Index", new {  },
                        new { @Name = "DeleteHide", @class = "glyphicon glyphicon-trash btn btn-danger btn-xs",@style="display:none" }
                            ))                
                            ), mode: WebGridPagerModes.Numeric)
                    <script type="text/javascript">
                        function updateGrid() {
        @Html.Raw(HttpUtility.HtmlDecode(grid.GetContainerUpdateScript("/?page=" + (grid.PageIndex + 1)).ToString()))
                        }
                    </script>
                 </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
}

<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('[name=Delete]').attr('title', 'Delete');

        var res = '@ViewBag.Visibility';       
        if (res == "False" || res == "False")
        {
            $('#btnCreate').hide();
            $('#hidebtnCreate').show();
            $('#hidebtnCreate').attr('disabled', true);
            $('#hidebtnCreate').attr("title", "No Rights To Add");
        }
        var allowEdit = '@ViewBag.AllowEdit'
        if (allowEdit == "False" || allowEdit == "false")
        {
            $('[name=Edit]').hide();
            $('[name=EditHide').show();
            $('[name=EditHide').attr('disabled', true);
            $('[name=EditHide').attr("title", "No Rights To Edit");
        }
        var allowDelete = '@ViewBag.Delete'
        if (allowDelete == "False" || allowDelete == "false")
        {
            $('[name=Delete]').hide();
            $('[name=DeleteHide]').show();
            $('[name=DeleteHide]').attr('disabled', true);
            $('[name=DeleteHide').attr("title", "No Rights To Delete");

        }

    });
</script>


@section scripts{
    @Scripts.Render("~/scripts/Popup.js")
}