@model IEnumerable<SECU_CAMSPlus_DEV.Models.City>

@{
    ViewBag.Title = "City :: CAMSPlus";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@if (TempData["CityMessage"] != null)
{
    <script>
        alert('@TempData["CityMessage"]');
    </script>
}

@if (TempData["CityNoRecordMsg"] != null)
{
<script >
    alert('@TempData["CityNoRecordMsg"]');
   
</script>
}



@using (Html.BeginForm("Index", "City", FormMethod.Get))
{

    var grid = new WebGrid(Model, canSort: true, rowsPerPage: 10);
    <div class="col-lg-12 animated fadeIn margin-top">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12 col-sm-7 col-md-7">
                        <h2>City Master</h2>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">

                        <div class="form-group">
                            <div class="input-group">
                                <i class="fa fa-search"></i>
                                <input type="text" name="filter" value="@ViewBag.filter" class="form-control" style="display: inline" placeholder="Search by city or state name" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit" value="Index">Go</button></span>
                            </div>
                            <!-- /input-group -->

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-1 col-md-1">
                        <a class="btn btn-success" data-modal="" href="Create" id="btnCreate"><i class="fa fa-plus"></i>&nbsp;ADD
                        </a>

                         <button class="btn btn-success btn-sm pull-right margin"  disabled='disabled' id="btnDummyaddui" style="display:none"><i class="fa fa-plus"></i>&nbsp;ADD</button>

                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="panel-body">

                <div class="table-responsive">
                    <div class="pull-right">Total no. records found : @grid.TotalRowCount</div> 

                    @grid.GetHtml(tableStyle: "table table-hover table-striped", footerStyle: "tfoot dataTables_paginate", columns:
                grid.Columns
                (

                        grid.Column("CityName", "City Name"),
                        grid.Column("StateName", "State Name"),

            grid.Column(header: "", canSort: false, style: "action",
                format: @<text>
                    @* @Html.Raw("<a data-modal='' href='/City/details/" + item.CityID + "' id='" + item.CityID + "' data-toggle='modal' title='Detail'> <span class='glyphicon glyphicon-search'> </span> </a>")*@
                    @Html.Raw("<a  name='Edit' data-modal='' data-toggle='tooltip' data-placement='right' data-original-title='Edit' class='glyphicon glyphicon-edit btn btn-success btn-xs' href='Edit/" + item.CityID + "' id='" + item.CityID + "''></a>")
                    @Html.Raw("<button name='EditNew' disabled='disabled' data-placement='right' style='display:none' title='No rights to edit' data-original-title='Edit' class='glyphicon glyphicon-edit btn btn-success btn-xs'></button>")           
                    </text>),

 grid.Column(header: "", format: (item) => Html.ActionLink(" ", "Delete", new { id = item.CityID },
    new { onclick = "return confirm('Do you want to delete this City?'); ", @Name = "Delete", @class = "glyphicon glyphicon-trash btn btn-danger btn-xs" })),
     grid.Column(header: "", canSort: false, style: "action",
                 format: @<text>@Html.Raw("<button name='DeleteNew' disabled='disabled' data-placement='right' style='display:none' title='No rights to delete' data-original-title='Delete' class='glyphicon glyphicon-trash btn btn-danger btn-xs'></button>")
                 </text>)


     ), mode: WebGridPagerModes.Numeric)
                    
                </div>

            </div>



        </div>
    </div>
    <div class="clearfix"></div>
}

<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/scripts/Popup.js")
}


<script type="text/javascript">
    $(document).ready(function () {
        var res = '@ViewBag.NewAdd';

        if (res == "false" || res == "False") {

            $('#btnCreate').hide();
            $('#btnDummyaddui').show();
            $('#btnDummyaddui').attr("title", "No Rights To Add");
            
        }
        var allowEdit = '@ViewBag.AllowEdit'
        if (allowEdit == "False" || allowEdit == "false") {
            $('[name=Edit]').hide();
            $('[name=EditNew]').show();

        }
        var allowDelete = '@ViewBag.Delete'
        if (allowDelete == "False" || allowDelete == "false") {
            $('[name=Delete]').hide();
            $('[name=DeleteNew]').show();

        }

        $("#btnCreate").on("click", function () {
            if (res == "false" || res == "False") {
                $('#myModal').css('display','none');
            }
        });



    });
</script>
