@model SECU_CAMSPlus_DEV.Models.UsersList
@{
    Layout = "";
}

<div >
     @{ int i = 0; }

        @foreach (var item in (SelectList)ViewBag.TiposPost)
        {
           
            if (i == 0)
            {
                @Html.RadioButtonFor(model => model.rbtlist, item.Value, new { Checked = "checked" })
                <label class="control-label">@item.Text</label>
                i++;
            }
            
             else
            {
                @Html.RadioButtonFor(model => model.rbtlist, item.Value)
                <label class="control-label">@item.Text</label>
            }
                 
        }
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         Active:@Html.RadioButton("Active", "1", true, new { id = "rbtActyes" }) Yes
         @Html.RadioButton("Active", "0", false, new { id = "rbtActno" }) No
         
    </div>
  

